#main-navbar {
  margin: 0 80px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
  background: #fff;
  width: initial;
  margin: 0px;
  height: 60px;
  position: relative;
}

li a {
  font-size: 1.5rem;
}
